body {
  height: 100%;
  width: 100%;
  background-color: darkslategrey;
  color: #a4a4a4;
  font-family: "Fira Sans";
  font-size: 1.7em;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

* {
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: grid;
  grid-template-columns: 1fr [content-start] 8fr [content-end] 1fr;
  grid-template-rows : auto [content-start] auto [content-end] auto;
  height: 100%;
}

.navbar {
  background-color: #333;
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar a {
  color: #a4a4a4;
  text-decoration: none;
  margin: 20px;
  align-self: center;
  flex-wrap: wrap;
  font-family: 'Rock Salt';
}

.main-content {
  grid-area: content;
  padding: 20px 0;
  height: 100%;
}

#about {
  font-size: .75em;
}

#about img {
  float: left;
  margin: 15px;
  max-width: 35%;
}

#about h1 {
  font-family: 'Rock Salt';
  font-size: 1.25em;
}

.footer {
  grid-row: content-end;
  grid-column: content;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}