@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*,*::before,*::after { 
  box-sizing: border-box;
  transition: all 0.3s;
}

:root {
  --background-color: #eee;
  --font-color: #555;
  --font-accent: #222;
  --accent: #0f0;
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fira Code', monospace;
}


html {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--ff-primary);
}

body {
  margin: 0 10%;
}

#headline {
  border-bottom: .25em solid var(--accent);
  padding: .25em 4em;
  margin: 0 1em 1em;
  font-size: 1.2em;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  color: var(--font-color);
}

#headline h1 > strong {
  color: var(--font-accent);
}

#about p {
  margin-top: 2em;
  text-align: center;
  font-size: 1.25em;
}

#about p span {
  color: var(--font-accent);
}